In [1]:
import pandas as pd

In [2]:
destination1 = "XLS/2017/2017_manhattan.xls"
man_2017 = pd.read_excel(destination1, index_col=0, skiprows=4)
man_2017.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL 17/18,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL 17/18,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
BOROUGH,,,,,,,,,,,,,,,,,,,,
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,375,28,,C4,738 EAST 6TH STREET,,10009,11,0,11,1750,6500,1900,2,C4,3750000,2017-04-03
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,36,,C7,27 AVENUE C,,10009,24,1,25,2650,9960,1910,2,C7,5235000,2017-07-11
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,5,,C2,151 AVENUE B,,10009,5,0,5,2139,4416,1900,2,C2,0,2017-06-16
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,61,,C7,193 EAST 4TH STREET,,10009,11,1,12,2388,8045,1900,2,C7,7675000,2017-11-13

In [12]:
man_2017.dtypes

NEIGHBORHOOD\n                                   object
BUILDING CLASS CATEGORY\n                        object
TAX CLASS AS OF FINAL ROLL 17/18                 object
BLOCK\n                                           int64
LOT\n                                             int64
EASE-MENT\n                                      object
BUILDING CLASS AS OF FINAL ROLL 17/18            object
ADDRESS\n                                        object
APARTMENT NUMBER\n                               object
ZIP CODE\n                                        int64
RESIDENTIAL UNITS\n                               int64
COMMERCIAL UNITS\n                                int64
TOTAL UNITS\n                                     int64
LAND SQUARE FEET\n                                int64
GROSS SQUARE FEET\n                               int64
YEAR BUILT\n                                      int64
TAX CLASS AT TIME OF SALE\n                       int64
BUILDING CLASS AT TIME OF SALE\n                 object
SALE PRICE\n                                      int64
SALE DATE\n                              datetime64[ns]
dtype: object

In [3]:
destination2 = "XLS/2017/2017_bronx.xls"
bronx_2017 = pd.read_excel(destination2, index_col=0, skiprows=4)
bronx_2017.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL 17/18,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL 17/18,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
BOROUGH,,,,,,,,,,,,,,,,,,,,
2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3028,25,,A5,412 EAST 179 STREET,,10457,1,0,1,1842,2048,1901,1,A5,0,2017-04-04
2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,55,,A5,410 EAST 182ND STREET,,10457,1,0,1,1330,1460,1899,1,A5,305000,2017-07-18
2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,56,,A1,412 EAST 182 STREET,,10457,1,0,1,1306,1440,1899,1,A1,178000,2017-01-19
2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,56,,A1,412 EAST 182 STREET,,10457,1,0,1,1306,1440,1899,1,A1,449000,2017-07-14
2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,65,,A1,4455 PARK AVENUE,,10457,1,0,1,1622,1587,1899,1,A1,140000,2017-05-12

In [11]:
bronx_2017.dtypes

NEIGHBORHOOD\n                                   object
BUILDING CLASS CATEGORY\n                        object
TAX CLASS AS OF FINAL ROLL 17/18                 object
BLOCK\n                                           int64
LOT\n                                             int64
EASE-MENT\n                                      object
BUILDING CLASS AS OF FINAL ROLL 17/18            object
ADDRESS\n                                        object
APARTMENT NUMBER\n                               object
ZIP CODE\n                                        int64
RESIDENTIAL UNITS\n                               int64
COMMERCIAL UNITS\n                                int64
TOTAL UNITS\n                                     int64
LAND SQUARE FEET\n                                int64
GROSS SQUARE FEET\n                               int64
YEAR BUILT\n                                      int64
TAX CLASS AT TIME OF SALE\n                       int64
BUILDING CLASS AT TIME OF SALE\n                 object
SALE PRICE\n                                      int64
SALE DATE\n                              datetime64[ns]
dtype: object

In [4]:
destination3 = "XLS/2017/2017_brooklyn.xls"
brooklyn_2017 = pd.read_excel(destination3, index_col=0, skiprows=4)
brooklyn_2017.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL 17/18,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL 17/18,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
BOROUGH,,,,,,,,,,,,,,,,,,,,
3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6360,55,,A5,28 BAY 10TH STREET,,11228,1,0,1,1547,1428,1930,1,A5,725000,2017-06-27
3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6360,157,,A5,36 BAY 10TH STREET,,11228,1,0,1,1547,1428,1930,1,A5,800000,2017-02-27
3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6361,20,,A5,47 BAY 10TH STREET,,11228,1,0,1,1933,1660,1930,1,A5,0,2017-03-04
3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6367,42,,S1,1730 86TH STREET,,11214,1,1,2,1342,1920,1926,1,S1,1200000,2017-03-31
3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6393,16,,A5,145 BAY 8TH STREET,,11228,1,0,1,1716,1554,1920,1,A5,10,2017-09-15

In [10]:
brooklyn_2017.dtypes

NEIGHBORHOOD\n                                   object
BUILDING CLASS CATEGORY\n                        object
TAX CLASS AS OF FINAL ROLL 17/18                 object
BLOCK\n                                           int64
LOT\n                                             int64
EASE-MENT\n                                      object
BUILDING CLASS AS OF FINAL ROLL 17/18            object
ADDRESS\n                                        object
APARTMENT NUMBER\n                               object
ZIP CODE\n                                        int64
RESIDENTIAL UNITS\n                               int64
COMMERCIAL UNITS\n                                int64
TOTAL UNITS\n                                     int64
LAND SQUARE FEET\n                                int64
GROSS SQUARE FEET\n                               int64
YEAR BUILT\n                                      int64
TAX CLASS AT TIME OF SALE\n                       int64
BUILDING CLASS AT TIME OF SALE\n                 object
SALE PRICE\n                                      int64
SALE DATE\n                              datetime64[ns]
dtype: object

In [5]:
destination4 = "XLS/2017/2017_queens.xls"
queens_2017 = pd.read_excel(destination4, index_col=0, skiprows=4)
queens_2017.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL 17/18,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL 17/18,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
BOROUGH,,,,,,,,,,,,,,,,,,,,
4,AIRPORT LA GUARDIA,01 ONE FAMILY DWELLINGS,1,976,10,,A5,21-10 81ST STREET,,11370,1,0,1,1800,1224,1950,1,A5,600000,2017-04-10
4,AIRPORT LA GUARDIA,01 ONE FAMILY DWELLINGS,1,976,10,,A5,21-10 81ST STREET,,11370,1,0,1,1800,1224,1950,1,A5,750000,2017-06-16
4,AIRPORT LA GUARDIA,01 ONE FAMILY DWELLINGS,1,976,11,,A5,21-12 81ST STREET,,11370,1,0,1,1800,1224,1950,1,A5,600000,2017-04-10
4,AIRPORT LA GUARDIA,01 ONE FAMILY DWELLINGS,1,976,11,,A5,21-12 81ST STREET,,11370,1,0,1,1800,1224,1950,1,A5,730000,2017-08-23
4,AIRPORT LA GUARDIA,01 ONE FAMILY DWELLINGS,1,976,15,,A5,21-20 81ST STREET,,11370,1,0,1,1800,1224,1950,1,A5,792000,2017-07-26

In [9]:
queens_2017.dtypes

NEIGHBORHOOD\n                                   object
BUILDING CLASS CATEGORY\n                        object
TAX CLASS AS OF FINAL ROLL 17/18                 object
BLOCK\n                                           int64
LOT\n                                             int64
EASE-MENT\n                                      object
BUILDING CLASS AS OF FINAL ROLL 17/18            object
ADDRESS\n                                        object
APARTMENT NUMBER\n                               object
ZIP CODE\n                                        int64
RESIDENTIAL UNITS\n                               int64
COMMERCIAL UNITS\n                                int64
TOTAL UNITS\n                                     int64
LAND SQUARE FEET\n                                int64
GROSS SQUARE FEET\n                               int64
YEAR BUILT\n                                      int64
TAX CLASS AT TIME OF SALE\n                       int64
BUILDING CLASS AT TIME OF SALE\n                 object
SALE PRICE\n                                      int64
SALE DATE\n                              datetime64[ns]
dtype: object

In [6]:
destination5 = "XLS/2017/2017_statenisland.xls"
statenisland_2017 = pd.read_excel(destination5, index_col=0, skiprows=4)
statenisland_2017.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL 17/18,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL 17/18,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
BOROUGH,,,,,,,,,,,,,,,,,,,,
5,ANNADALE,01 ONE FAMILY DWELLINGS,1,5395,19,,A1,4 EDWIN STREET,,10312,1,0,1,7258,2230,1980,1,A1,866000,2017-08-03
5,ANNADALE,01 ONE FAMILY DWELLINGS,1,5407,10,,A2,112 ELMBANK STREET,,10312,1,0,1,6242,1768,1975,1,A2,735000,2017-11-07
5,ANNADALE,01 ONE FAMILY DWELLINGS,1,5407,39,,A2,193 BATHGATE STREET,,10312,1,0,1,5000,808,1920,1,A2,350000,2017-07-17
5,ANNADALE,01 ONE FAMILY DWELLINGS,1,5426,32,,A6,3 OCEAN DRIVEWAY,,10312,1,0,1,2500,540,1910,1,A6,0,2017-06-03
5,ANNADALE,01 ONE FAMILY DWELLINGS,1,6205,15,,A5,95 EAGAN AVENUE,,10312,1,0,1,1546,1579,1986,1,A5,475000,2017-09-07

In [8]:
statenisland_2017.dtypes

NEIGHBORHOOD\n                                   object
BUILDING CLASS CATEGORY\n                        object
TAX CLASS AS OF FINAL ROLL 17/18                 object
BLOCK\n                                           int64
LOT\n                                             int64
EASE-MENT\n                                      object
BUILDING CLASS AS OF FINAL ROLL 17/18            object
ADDRESS\n                                        object
APARTMENT NUMBER\n                               object
ZIP CODE\n                                        int64
RESIDENTIAL UNITS\n                               int64
COMMERCIAL UNITS\n                                int64
TOTAL UNITS\n                                     int64
LAND SQUARE FEET\n                                int64
GROSS SQUARE FEET\n                               int64
YEAR BUILT\n                                      int64
TAX CLASS AT TIME OF SALE\n                       int64
BUILDING CLASS AT TIME OF SALE\n                 object
SALE PRICE\n                                      int64
SALE DATE\n                              datetime64[ns]
dtype: object

In [17]:
nyc_rolling_2017 = pd.concat([man_2017, bronx_2017, brooklyn_2017, queens_2017, statenisland_2017])
nyc_rolling_2017.head()
# nyc_rolling_2017.dtypes

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL 17/18,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL 17/18,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
BOROUGH,,,,,,,,,,,,,,,,,,,,
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,375,28,,C4,738 EAST 6TH STREET,,10009,11,0,11,1750,6500,1900,2,C4,3750000,2017-04-03
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,36,,C7,27 AVENUE C,,10009,24,1,25,2650,9960,1910,2,C7,5235000,2017-07-11
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,5,,C2,151 AVENUE B,,10009,5,0,5,2139,4416,1900,2,C2,0,2017-06-16
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,61,,C7,193 EAST 4TH STREET,,10009,11,1,12,2388,8045,1900,2,C7,7675000,2017-11-13